<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User</title>
</head>
<body>
<h1>Add New User</h1>

<form th:action="@{/admin/save}" th:object="${user}" method="post">
    <div>
        <label>Username:</label>
        <input type="text" th:field="*{username}">
    </div>
    <div>
        <label>Password:</label>
        <input type="password" th:field="*{password}">
    </div>
    <div>
        <label>First Name:</label>
        <input type="text" th:field="*{name}">
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" th:field="*{lastName}">
    </div>
    <div>
        <label>Age:</label>
        <input type="number" th:field="*{age}">
    </div>

    <div>
        <label>Roles:</label><br>
        <div th:each="role : ${roles}">
            <input type="checkbox" th:value="${role.id}" name="roleIds">
            <label th:text="${role.name}"></label>
        </div>
    </div>

    <button type="submit">Save</button>
    <a href="/admin">Cancel</a>
</form>
</body>
</html>